/* font family added  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&family=Roboto:wght@300;400;500;700;900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Raleway", sans-serif;
}

/* Main container  */
.main_container {
  width: 81%;
  max-width: 90rem;
  margin: auto;
}
/* For Mobile Portrait View */
@media screen and (max-device-width: 576px) and (orientation: portrait) {
  .main_container {
    width: 90%;
    max-width: 90rem;
    margin: auto;
  }
}
.green-primary {
  color: #1dd100;
}
.black-primary {
  color: rgb(3, 7, 18);
}
.black-secondary {
  color: #03071299;
}

.border-btm {
  border-bottom: 3px solid #1dd100;
}
.border-all {
  border: 3px solid #1dd100;
}
.outline-all {
  outline: 3px solid #1dd100;
}
/* Banner styles  */
.banner_parent {
  background: linear-gradient(
      180deg,
      rgba(3, 7, 18, 0.5),
      rgba(3, 7, 18, 0) 100%
    ),
    url(1), url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 2rem;
}
.poribahon_main {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  box-sizing: border-box;
  border-top: 2px solid rgb(29, 209, 0);
  border-radius: 88px 88px 0px 0px;
  background: rgb(247, 248, 248);
}
@media screen and (max-device-width: 576px) and (orientation: portrait) {
  .poribahon_main {
    width: 100%;
    max-width: 90rem;
    margin: auto;
  }
  .secondary_btn {
    border-radius: 10px;
    background: rgba(29, 209, 0, 0.15);
    border: 1px solid rgb(29, 209, 0);
    padding: 8px;
    cursor: pointer;
  }
}
.secondary_btn {
  border-radius: 12px;
  background: rgba(29, 209, 0, 0.15);
  border: 1px solid rgb(29, 209, 0);
  padding: 14px;
  cursor: pointer;
}
@media screen and (max-device-width: 576px) and (orientation: portrait) {
  .secondary_btn {
    border-radius: 10px;
    background: rgba(29, 209, 0, 0.15);
    border: 1px solid rgb(29, 209, 0);
    padding: 7px;
    cursor: pointer;
  }
}
/* Small hash box  */
.hash_box {
  border-radius: 12px;
  background: rgba(3, 7, 18, 0.05);
  color: rgba(3, 7, 18, 0.8);
}
.s_black {
  color: rgba(3, 7, 18, 0.6);
}
.seat {
  border-radius: 12px;
  background: rgb(247, 248, 248);
}
.bg-green-primary {
  background: #1dd100 !important;
  color: white !important;
}
.bg_primary {
  background: #1dd100 !important;
  color: white !important;
}
.btn_color {
  color: white !important;
}
.appendElement {
  color: rgba(3, 7, 18, 0.6);
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  font-family: "Inter", sans-serif !important;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}